*{
	margin:0px;
	border:0px;
	padding: 0px;
}

html {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-size: 1.5em;
	font-family: 'Press Start 2P', cursive, arial;
}

body {
	background: #D1D1D1;
	color: #555;
	padding: 10px 0px;
}

#gameview {
	margin: 0 auto;
	width: 500px;
	display: block;
	text-align: center;
}


h1 {
	font-weight: lighter;
}

#gameview h1 {

}

#gamerender {
	margin: 10px 0;
}

@-webkit-keyframes changeColor {
	0% {
		color: #FFF;
	}
	50% {
		color: #555;
	}
	100% {
		color: #FFF;
	}
}

@-webkit-keyframes tvOff {

	40% {
		-webkit-transform: scale(1,0.1);
		background: rgba(1,1,1,0.3);
	}
	100% {
		-webkit-transform: scale(0,0);
		display: none;
	}
}

#menu {
	position: absolute;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	display: block;
	top: 300px;
	background: rgba(0,0,0,0.1);
	padding: 10px 0px;
	overflow: hidden;
	-webkit-animation: tvOff 0.3s linear 1s paused;
	
	-webkit-animation-fill-mode: forwards;
}

#menu a {
	color: #FFF;
	text-decoration: none;
	-webkit-animation-name: changeColor;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-play-state:running; 
	-webkit-animation-iteration-count: infinite;
}

#notify {
	position: absolute;
	width: 500px;
	display: none;
	background: #d1d1d1;
	border: 15px double #555;
	margin: 0px -250px;
	box-sizing: border-box;
	left: 50%;
	top: 200px;
	z-index: 100;
	padding: 10px;
	text-align: center;
}

#notify button {
	border: 3px solid #515151;
	padding: 5px 10px;
	font-family: inherit;
	color: inherit;
	cursor: pointer;
}
